<div class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">

        <h3>Your Shift Zero Plan</h3>
        <p>Pay the minimums on all your accounts while paying more to the highest interest account below.</p>

        <div class="spacer -space-24"></div>

        <div class="milo-card">
          <div class="mc-title">Current Goal: <%= @current_debt.account_name %></div>
          <p><%= @current_debt.account_name %> (<%= @current_debt.account_number %>)</p>
          <div style="background: #EDEDED; border-radius: 4px; width: 100%; height: 40px; position: relative; margin: 0 0 24px 0;">
            <div style="background: #FF0000; border-radius: 4px; height: 40px; position: absolute; top: 0; left: 0; width: <%= number_to_percentage(@current_debt.progess_to_zero) %>;"></div>
          </div>
          <ul>
            <li>Balance: <%= number_to_currency(@current_debt.current_balance) %></li>
            <li>Interest: <%= number_to_percentage(@current_debt.apr) %></li>
            <li><%= @current_debt.next_payment_due.strftime("%B") %> Payment: <%= number_to_currency(@current_debt.suggested_payment(current_user.id)) %></li>
            <li>Paid Off: <%= @current_debt.payoff_date(current_user.id).strftime("%B %-d, %Y") %></li>
          </ul>
        </div>

        <div class="milo-card">
          <div class="mc-title">Debt Overview</div>
          <table class="table">
            <thead>
              <tr>
                <th>Plan <a href="#"><i class="fa fa-pencil"></i></a></th>
                <th>Finances <a href="#">View</a></th>
                <th>Credit Score <a href="#">Details</a></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Monthly Payment: <%= number_to_currency(current_user.budget) %></td>
                <td>Total Debt: -</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Debt Free: -</td>
                <td>Total Cash: -</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Total Paid Off: -</td>
                <td>Daily Interest Owed: -</td>
                <td>&nbsp;</td>
              </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
