<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Zero Index</h3>
        <hr/>
        <div class="milo-card">
          <div class="mc-title">Current Goal: <%= @current_debt.account_name %></div>
          <p><%= @current_debt.account_name %> (<%= @current_debt.account_number %>)</p>
          <div style="background: #EDEDED; border-radius: 4px; width: 100%; height: 40px; position: relative; margin: 0 0 24px 0;">
            <div style="background: #FF0000; border-radius: 4px; height: 40px; position: absolute; top: 0; left: 0; width: <%= number_to_percentage(@current_debt.progess_to_zero) %>;"></div>
          </div>
          <ul>
            <li>Balance: <%= number_to_currency(@current_debt.current_balance) %></li>
            <li>Interest: <%= number_to_percentage(@current_debt.apr) %></li>
            <li><%= @current_debt.next_payment_due.strftime("%B") %> Payment: <%= number_to_currency(@current_debt.suggested_payment(current_user.id)) %></li>
            <li>Paid Off: <%= @current_debt.payoff_date(current_user.id) %> (<%= @current_debt.months_to_zero(current_user.id) %> months)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
