<% set_meta_tags :site => 'Business • Settings • Milo' %>

<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= render :partial => 'devise/shared/subheader' %>
        <%= render "layouts/messages" %>
        <h6>Set Contributions</h6>

        <%= form_for(@business) do |f| %>
          <% if @business.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

              <ul>
              <% @business.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
