<% set_meta_tags :site => 'Business • Settings • Milo' %>

<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= render :partial => 'devise/shared/subheader' %>
        <%= render "layouts/messages" %>
        <h6>Set Contributions</h6>
        <p>Match 100% of employee savings or set a max contribution limit. Setting a max contribution will limit an employer contribution per employee to the amount set below.</p>

        <%= form_for(@business, url: settings_business_path) do |f| %>
          <%= form_errors @business %>
          <section class="form-section">
            <div class="row">
              <div class="col-sm-6">
                <fieldset class="form-group">
                  <label>Max Contribution</label>
                  <%= f.text_field :contribution, class: "form-control" %>
                </fieldset>
              </div>
              <div class="col-sm-6">
                <fieldset class="form-group">
                  <label>Frequency</label>
                  <%= f.text_field :frequency, class: "form-control" %>
                </fieldset>
              </div>
            </div>
          </section>


          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
