<% set_meta_tags :site => 'Employees • Shift',
  :noindex => true
%>

<div class="page-content">
  <div class="container">
    <%= render "layouts/messages" %>
    <h6>
      <%= @employees.size - 1 %> Employees
      <%= link_to "Add Employee", new_user_invitation_path %>
    </h6>

    <table class="table">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Contribution Total</th>
          <th>Last Contribution</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @emp_data.each do |e| %>
          <% if e['id'] != @biz_owner.id %>
            <tr>
              <th><%= e['name'] %> (<%= e['email'] %>)</th>
              <td>Active / Inactive</td>
              <td><%= e['total_contrib'] ? e['total_contrib'] : '-' %></td>
              <td><%= e['last_contrib'] ? "$#{e['last_contrib']}" : '-' %></td>
              <td><%= link_to "Remove", "/employees/#{e['id']}", class: "-remove", method: :delete, data: {confirm: "Are you sure you want to remove #{e['name']}?"}, remote: true %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
