<% set_meta_tags :site => 'Employees • Milo',
  :noindex => true
%>

<div class="page-content">
  <div class="container">
    <%= render "layouts/messages" %>
    <h6>
      <%= @employees.size %> Employees
      <%= link_to "Add Employee", new_user_invitation_path %>
    </h6>

    <table class="table">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Avg. Transfer</th>
          <th>Last Week</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @employees.each do |e| %>
          <tr>
            <th><%= e.name %> (<%= e.email %>)</th>
            <td>Active / Inactive</td>
            <td>-</td>
            <td>-</td>
            <td><%= link_to "Remove", "/employees/#{e.id}", class: "-remove", method: :delete, data: {confirm: "Are you sure you want to remove #{e.name}?"}, remote: true %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
