<% set_meta_tags :site => 'Bank Account • Settings • Milo' %>

<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= render :partial => 'devise/shared/subheader' %>
        <h6>Connected Accounts</h6>
        <% if @checking.present? %>
          <div class="connected-account">
            <%= link_to accounts_remove_path, data: { confirm: "Are you sure you want to remove this bank account?" }, remote: true, class: "ca-remove" do %>
              Remove <i class="fa fa-question helper" data-toggle="tooltip" data-placement="top" data-html="true" title="<strong>Remove Account</strong>Removing your account will disable the automatic saving and transfer of funds from your checking into your Milo savings account."></i>
            <% end %>
            <%= link_to "Verify", new_user_account_path(user_id: current_user.id), class: "ca-verify", remote: true %>
            <div class="ca-name"><%= @account.account_name %></div>
            <div class="ca-number">XXXXXX <%= @account.bank_account_number.last(4) %></div>
            <div class="ca-verify-message">In 1-3 business days, we'll make two < 20¢ deposits into the account you provided. Please note the amounts, return to this page, and click "Verify" to enter the two amounts.</div>
          </div>
        <% else %>
          <% if @accounts.present? %>
            <p>Confirm the checking account that you would like to use with Milo.</p>
            <a href="/checkings/new" class="button -blue">Confirm</a>
            <div class="spacer -space-32"></div>
          <% else %>
            <p>Please connect your checking account to begin saving round ups from your daily transactions.</p>
            <%= link_to "Add Account", user_accounts_path(current_user), class: "button -blue" %>
            <div class="spacer -space-32"></div>
          <% end %>
        <% end %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <h6>On-Demand Transfers</h6>
          <p>In order to save automatically and transfer funds from your checking into your Milo savings account we need your authorization. You may disable On-Demand Transfers, but doing so will disable transfers from your checking account to your Milo savings account until you re-enable.</p>
          <fieldset class="checkbox">
            <label>
              <%= f.check_box :on_demand %>
              On-Demand Transfer Authorization
            </label>
          </fieldset>
          <%= f.submit "Update Account", class: "button -blue" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="account-remove-modal" class="modal fade"></div>
