<% set_meta_tags :site => 'Sign Up • Milo',
  :canonical => 'http://milosavings.com/users/sign_up',
  :author => 'Milo',
  :copyright => '&copy; 2016 Milo',
  :description => "Sign up and join Milo today to begin saving towards important financials goals.",
  :keywords => ['Milo', 'Milo Savings', 'round', 'roundups', 'round-ups', 'savings', 'financial', 'savings account', 'goals', 'financial goal', 'college savings', 'sign up', 'join', 'registrer'],
  :reverse => true,
  :og => {
    :title          => 'Sign Up • Milo',
    :type           => 'website',
    :url            => request.original_url,
    :image          => asset_url('social-banner-milo.png'),
    :description    => "Sign up and join Milo today to begin saving towards important financials goals.",
    :site_name      => 'Milo',
  },
  :twitter => {
    :card           => 'summary',
    :site           => '@milosavings',
    :title          => 'Sign Up • Milo',
    :description    => "Sign up and join Milo today to begin saving towards important financials goals.",
    :creator        => '@milosavings',
    :image          => asset_url('social-banner-milo.png'),
  }
%>

<div class="row">
  <div class="col-md-5 col-md-offset-2">
    <div class="signup">
      <h1><span>Sign Up</span> Make Change Happen</h1>
      <%= render "layouts/messages" %>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "email-signup") do |f| %>
        <%= devise_error_messages! %>
        <fieldset class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </fieldset>
        <fieldset class="form-group">
          <label>Postal Code</label>
          <%= f.text_field :zip, class: "form-control" %>
        </fieldset>
        <fieldset class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </fieldset>
        <fieldset class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          <small class="text-muted">Minimum 8 characters.</small>
        </fieldset>
        <%= f.hidden_field :referral_code, value: session[:referral] %>
        <button type="submit" class="button -full -green">Sign Up</button>
      <% end %>
    </div>
    <p class="disclaimer">By continuing, I agree to Milo's <!--<a href="#">ACH Authorization</a>, <a href="#">E-Sign Consent</a>, --><a href="/privacy">Privacy Policy</a> and <a href="/terms">Terms of Service</a>.</p>
  </div>
  <div class="col-md-5">
    <ul class="signup-steps">
      <li class="active"><span></span> Basic Info</li>
      <li><span></span> Mobile Number</li>
      <li><span></span> Checking Account</li>
    </ul>
  </div>
</div>
