<div class="row">
  <div class="col-md-5 col-md-offset-2">
    <div class="signup">
      <h1><span>Sign Up</span> Make Change Happen</h1>
      <%= render "../views/layouts/messages" %>

      <!-- <div class="social-signup">
        <a href="{{ "/phone.html" | prepend: site.baseurl }}" class="btn-social -facebook"><i class="fa fa-facebook"></i> Sign up with Facebook</a>
        <a href="{{ "/phone.html" | prepend: site.baseurl }}" class="btn-social -twitter"><i class="fa fa-twitter"></i> Sign up with Twitter</a>
        <a href="{{ "/phone.html" | prepend: site.baseurl }}" class="btn-social -google"><i class="fa fa-google"></i> Sign up with Google</a>
        <p><strong>OR,</strong> sign up using your <a class="email-show" href="#">email</a> address.</p>
      </div> -->
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "email-signup") do |f| %>
        <%= devise_error_messages! %>
        <fieldset class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </fieldset>
        <fieldset class="form-group">
          <label>Postal Code</label>
          <%= f.text_field :zip, class: "form-control" %>
        </fieldset>
        <fieldset class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </fieldset>
        <fieldset class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          <small class="text-muted">Minimum 8 characters.</small>
        </fieldset>
        <!-- hidden input which will add the refferal code from the url to the user -->
        <%= f.hidden_field :referral_code, value: "#{session[:referral]}"  %>
        <button type="submit" class="button -full -green">Sign Up</button>
        <!-- <button type="submit" class="button -green">Sign Up</button> -->
        <!-- <a href="{{ "/phone.html" | prepend: site.baseurl }}" class="button -full -green">Sign Up</a>
        <p><strong>OR,</strong> sign up using your preferred <a class="social-show" href="#">social</a> network.</p> -->
      <% end %>
    </div>
    <p class="disclaimer">By continuing, I agree to Milo's <!--<a href="#">ACH Authorization</a>, <a href="#">E-Sign Consent</a>, --><a href="/privacy">Privacy Policy</a> and <a href="/terms">Terms of Service</a>.</p>
  </div>
  <div class="col-md-5">
    <ul class="signup-steps">
      <li class="active"><span></span> Basic Info</li>
      <!-- <li><span></span> Mobile Number</li>
      <li><span></span> Checking Account</li> -->
    </ul>
  </div>
</div>
