<% set_meta_tags :site => 'On Demand Transfers • Shift',
  :noindex => true
%>

<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <div class="signup">
      <h1 class="marg-16"><span>Checking Account</span> Sweet Success!</h1>
      <p class="on-demand">Your bank account has been verified. The only thing left for us to do is to authorize the On-Demand Transfers.</p>
      <p class="on-demand">I agree that my automatic savings from my selected checking account into my Shift savings account will be processed by the Dwolla payment system. At anytime you may cancel this authorization from your settings.</p>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "email-signup", method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= hidden_field_tag :referer, (params[:referer] || request.env['HTTP_REFERER']) %>
        <%= hidden_field_tag :set_on_demand, "true" %>
        <fieldset class="checkbox" style="text-align: center;">
          <label>
            <%= f.check_box :on_demand, required: true %>
            On-Demand Transfer Authorization <i class="fa fa-question helper" data-toggle="tooltip" data-placement="top" data-html="true" title="<strong>On-Demand Transfer:</strong>In order to save automatically and transfer funds from your checking to your Shift savings account we need your authorization. You may disable On-Demand Transfers at anytime from your settings."></i>
          </label>
        </fieldset>
        <button type="submit" class="button -full -blue">Start Saving</button>
      <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <ul class="signup-steps">
      <li><span></span> Basic Info</li>
      <li><span></span> Mobile Number</li>
      <li class="active"><span></span> Checking Account</li>
    </ul>
  </div>
</div>
