<h1>Confirm Phone</h1>

<h3>Verify Mobile Number</h3>
<%= form_tag(verifications_path, method: "post") do %>
  <%= button_tag('Send verification code', type: "submit") %>
<% end %>

<h3>Enter Verification Code</h3>
<%= form_tag(verifications_path, method: "patch") do %>
  <%= text_field_tag('verification_code') %>
  <%= button_tag('Submit', type: "submit") %>
<% end %>
