<%= form_for(@checking) do |f| %>
  <% if @checking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checking.errors.count, "error") %> prohibited this checking from being saved:</h2>

      <ul>
      <% @checking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <%= f.select :plaid_acct_id, options_for_select(@accounts.map{ |a| [ a.name, a.plaid_acct_id ] }) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
