<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

<p id="notice"><%= notice %></p>

<h1>Listing Checkings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checkings.each do |checking| %>
      <tr>
        <td><%= link_to 'Show', checking %></td>
        <td><%= link_to 'Edit', edit_checking_path(checking) %></td>
        <td><%= link_to 'Destroy', checking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Checking', new_checking_path %>

      </div>
    </div>
  </div>
</div>
