<% set_meta_tags :site => 'Select Checking Account • Shift',
  :noindex => true
%>

<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <div class="signup">
      <h5>Multiple Accounts</h5>
      <p>Select the primary checking account you would like to connect with Shift.</p>
      <% @accounts.each do |a| %>
        <%= form_for(@checking) do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :plaid_acct_id, :value => a.plaid_acct_id %>
          <span class="checking-name"><%= a.name %><br/><em>XXXXX <%= a.account_number %></em></span>
          <%= f.submit "Select", class: "button -blue -small -right" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <h6 class="help-header">Make Change Happen</h6>
    <p>Select one of your checking accounts to be the primary account connected to Shift. </p>
    <p>Your primary account will be the source for your savings transfers. Use our <a href="http://support.shiftsavings.com/" target="_blank">support center</a> if you have any questions regarding your sign up.</p>
    <a href="http://support.shiftsavings.com/signing-up/primary-account" target="_blank" class="help-link"><i class="fa fa-question"></i> Support: Primary Account</a>
    <p class="additional-help">Need additional help? Chat with us below or <a href="https://www.shiftsavings.com/contact" target="_blank">send us an email</a> with your question.</p>
  </div>
</div>
