<% set_meta_tags :site => 'Overview • Shift' %>

<% if current_user.invited %>
  <div class="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <%= render "layouts/messages" %>
          <%= render partial: "home/card_verify_bank" %>
          <%= render partial: "home/card_add_account" %>
          <%= render partial: "home/card_confirm_checking" %>
          <%= render partial: "home/card_authorize_on_demand" %>
          <%= render partial: "home/card_account_balance" %>
          <%= render partial: "goals/card_list" %>
          <%= render partial: "home/card_employer_contributions" %>
          <div class="row">
            <%= render partial: "home/card_history" %>
            <%= render partial: "home/card_quick_save" %>
            <%= render partial: "home/card_employee_count" %>
          </div>
        </div>
        <div class="col-md-4">
          <%= render partial: "home/sidebar_round_ups" %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%= render partial: "home/waitlist" %>
<% end %>

<% content_for :modal do %>
  <%= render 'goals/modal_add_goal' %>
  <% if @goal_complete %>
    <%= render 'goals/modal_complete_goal' %>
  <% end %>
  <%= render 'accounts/withdraw_funds' %>
<% end %>

<% content_for :javascript do %>
  <% if @goal_complete %>
    <script type="text/javascript">
      $(function() {
        $("#completeGoal").modal();
      });
    </script>
  <% end %>
<% end %>
