<% set_meta_tags :site => 'Overview • Milo' %>

<% if current_user.invited %>
  <% if @accounts.present? || (@transactions && !@transactions.empty?) %>
    <% if @checking == nil %>
      <div class="page-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="milo-card">
                <div class="mc-title">Checking Account</div>
                <p>Now that we have connected with your account/s we need to confirm the checking account that you would like to use with Milo.</p>
                <a href="/checkings/new" class="button -blue">Confirm</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="page-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="milo-card progress">
                <% if (current_user.goals.count >= 1) %>
                  <div class="mc-title">
                    Savings Progress
                    <% if !current_user.account_balance.nil?
                      goal_percentage = current_user.account_balance * 100
                      goal_percentage = goal_percentage / current_user.goals.first.amount
                    else
                      goal_percentage = 0
                    end
                    %>
                    <span><em>$<%= current_user.account_balance ? current_user.account_balance : "0" %></em> / $<%= current_user.goals.first.amount %></span>
                  </div>
                  <div class="progress-bar">
                    <div class="current-progress" style="width: <%= goal_percentage %>"></div>
                    <div class="bar one"></div>
                    <div class="bar two"></div>
                    <div class="bar three"></div>
                    <div class="bar four"></div>
                    <div class="bar five"></div>
                    <div class="bar six"></div>
                    <div class="bar seven"></div>
                  </div>
                <% else %>
                  <div class="mc-title">Create a Goal</div>
                  <p>Make a bigger impact and set a goal to motivate yourself to save for an important financial goal like a college education, new home or vacation.</p>
                  <button type="button" class="button -blue" data-toggle="modal" data-target="#setGoal">Set Goal</button>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="milo-card account-value">
                <div class="mc-title">
                  Account Value
                  <!-- <span>Last 30 Days <i class="fa fa-chevron-down"></i></span> -->
                </div>
                <div class="av-total">$<%= current_user.account_balance ? current_user.account_balance : "0.00" %><!-- <span>+$21.83</span> --></div>
              </div>
            </div>
          </div>
          <!--
          <div class="row">
            <div class="col-md-6">
              <div class="milo-card history">
                <div class="mc-title">History</div>
                <ul class="recent-transactions">
                  <li>$16.22<span><strong>Deposit</strong>AUG 24, 2016</span></li>
                  <li>$37.49<span><strong>Deposit</strong>AUG 17, 2016</span></li>
                  <li>$12.85<span><strong>Deposit</strong>AUG 10, 2016</span></li>
                </ul>
                <a href="/history.html">View History</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="milo-card quick-save">
                <div class="mc-title">Quick Save</div>
                <div class="amount">+$20.00</div>
                <button class="button -full -green">Save</button>
              </div>
            </div>
          </div>
          -->
        </div>
      </div>
      <div class="sidebar">
        <div class="pending-roundups">
          <div class="pr-title">Pending Round-Ups</div>
          <% if @transactions.present? %>
            <ul class="pr-list">
              <% @transactions.each do |t| %>
                <% if t.amount > 0 %>
                  <li>+ $<%= t.roundup %><span><strong>$<%= t.amount %></strong> <%= t.trans_name %></span></li>
                <% end %>
              <% end %>
            </ul>
          <% else %>
            <small>No current roundups available.</small>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h6>Connect Bank Account</h6>
            <p>Before you can begin using Milo we need to connect a bank account that we can track, calculate round ups and transfer funds to and from your Milo savings account.</p>
            <a href="/users/<%= current_user.id %>/accounts" class="button -blue">Connect Account</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="milo-card growth-hack">
            <h4>Thank You!</h4>
            <p><strong>We have added your email to the signup queue.</strong></p>
            <p>Spread the word about Milo on your favorite social networks to get in sooner. Share your unique referral link below and move up the queue!</p>
            <div class="gh-link"><%= @referral_link %></div>
            <div class="social-share-button" data-url="<%= @referral_link %>" data-title="Make change happen with Milo. Round up, save daily transactions and achieve your financial goals." data-via="milosavings">
  						<a rel="nofollow" data-site="facebook" class="ssb ssb-facebook" onclick="return SocialShareButton.share(this);" title="Share to Facebook" href="#"><i class="fa fa-facebook"></i> Post to Facebook</a>
  						<a rel="nofollow" data-site="twitter" class="ssb ssb-twitter" onclick="return SocialShareButton.share(this);" title="Share to Twitter" href="#"><i class="fa fa-twitter"></i> Post to Twitter</a>
  						<a rel="nofollow" data-site="linkedin" class="ssb ssb-linkedin" onclick="return SocialShareButton.share(this);" title="Share to Linkedin" href="#"><i class="fa fa-linkedin"></i> Post to LinkedIn</a>
  					</div>
          </div>
        </div>
      </div>
      <div id="mobile" class="row">
        <% if @referral_rank %>
          <div class="col-md-6">
            <div class="milo-card">
              <div class="mc-title">Waitlist Position</div>
              <p><strong><%= @referral_rank %></strong> out of <%= User.count %></p>
            </div>
          </div>
        <% end %>
        <% if @referral_count %>
          <div class="col-md-6">
            <div class="milo-card">
              <div class="mc-title">Total Referrals</div>
              <p><strong><%= @referral_count %></strong> referrals</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="sidebar">
    <div class="pending-roundups">
      <% if @referral_rank %>
        <div class="pr-title">Waitlist Position</div>
        <div class="pr-growth-hack"><strong><%= @referral_rank %></strong> out of <%= User.count %></div>
      <% end %>
      <% if @referral_count %>
        <div class="pr-title">Total Referrals</div>
        <div class="pr-growth-hack"><strong><%= @referral_count %></strong> referrals</div>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :modal do %>
  <%= render 'goals/modal_add_goal' %>
<% end %>
