<% set_meta_tags :site => 'Overview • Shift' %>

<% if current_user.invited %>
  <div class="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <%= render "layouts/messages" %>
          <%= render partial: "home/card_verify_bank" %>
          <%= render partial: "home/card_add_account" %>
          <%= render partial: "home/card_confirm_checking" %>
          <%= render partial: "home/card_authorize_on_demand" %>
          <%= render partial: "home/card_account_value" %>
          <%= render partial: "goals/card_list" %>
          <%= render partial: "home/card_employer_contributions" %>
          <div class="row">
            <%= render partial: "home/card_history" %>
            <%= render partial: "home/card_quick_save" %>
            <%= render partial: "home/card_employee_count" %>
          </div>
        </div>
        <div class="col-md-4">
          <% if current_user.business.nil? %>
            <div class="pending-roundups">
              <div class="pr-title">Pending Round Ups</div>
              <% if @transactions.present? %>
                <ul class="pr-list">
                  <% @transactions.each do |t| %>
                    <% if t[:amount] > 0 %>
                      <li><div class="pr-roundup">+ <%= number_to_currency(t[:roundup].round(2)) %></div><div class="pr-desc"><%= number_to_currency(t[:amount].round(2)) %> <%= t[:trans_name] %></div><div class="pr-check"><i class="fa fa-check"></i></div></li>
                    <% end %>
                  <% end %>
                </ul>
                <small class="pr-total">Total: <strong><%= number_to_currency(@total_pending.round(2)) %></strong></small>
              <% else %>
                <small class="pr-none">No current round ups available...</small>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%= render partial: "home/waitlist" %>
<% end %>


<% content_for :modal do %>
  <%= render 'goals/modal_add_goal' %>
  <% if @goal_complete %>
    <%= render 'goals/modal_complete_goal' %>
  <% end %>
  <%= render 'accounts/withdraw_funds' %>
<% end %>

<% content_for :javascript do %>
  <% if @goal_complete %>
    <script type="text/javascript">
      $(function() {
        $("#completeGoal").modal();
      });
    </script>
  <% end %>
<% end %>
