<% set_meta_tags :site => 'Round Ups • Shift' %>

<div class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <%= render partial: "home/card_account_balance" %>
        <%= render partial: "home/card_account_value" %>
        <div class="row">
          <div class="col-sm-4">
            <div class="milo-card round-up-stat"><%= @transfer_total %><span>Transfers</span></div>
          </div>
          <div class="col-sm-4">
            <div class="milo-card round-up-stat"><%= @roundup_total %><span>Total Round Ups</span></div>
          </div>
          <div class="col-sm-4">
            <div class="milo-card round-up-stat"><%= @roundup_avg %><span>Avg. Round Up</span></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="milo-card round-up-stat"><%= @completed_goals %><span>Goals Achieved</span></div>
          </div>
          <div class="col-sm-4">
            <div class="milo-card round-up-stat"><%= @transfer_avg %><span>Avg. Weekly Savings</span></div>
          </div>
          <div class="col-sm-4">
            <div class="milo-card round-up-stat"><%= @spent_avg %><span>Avg. Transaction</span></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <%= render partial: "home/sidebar_round_ups" %>
      </div>
    </div>
  </div>
</div>
