<% set_meta_tags :site => 'About • Milo',
  :canonical => 'http://milosavings.com/privacy',
  :author => 'Milo',
  :copyright => '&copy; 2016 Milo',
  :description => "Make change happen by rounding up your daily transactions, save towards your financial goals, and track progress.",
  :keywords => ['Milo', 'Milo Savings', 'about', 'about us', 'team', 'savings'],
  :reverse => true,
  :og => {
    :title          => 'About • Milo',
    :type           => 'website',
    :url            => request.original_url,
    :image          => asset_url('social-banner-milo.png'),
    :description    => "Make change happen by rounding up your daily transactions, save towards your financial goals, and track progress.",
    :site_name      => 'Milo',
  },
  :twitter => {
    :card           => 'summary',
    :site           => '@milosavings',
    :title          => 'About • Milo',
    :description    => "Make change happen by rounding up your daily transactions, save towards your financial goals, and track progress.",
    :creator        => '@milosavings',
    :image          => asset_url('social-banner-milo.png'),
  }
%>


<header class="head-market -about">
  <div class="milo-pattern">
    <div class="container-fluid">
      <%= render :partial => 'layouts/market_navbar' %>
      <section class="hero -legal">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1>About Milo</h1>
            <p>Make change happen by rounding up your daily transactions, save towards your financial goals, and track progress.</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</header>

<section class="feature -center">
  <div class="container-fluid">
    <div class="row">
      <h3>Our Team</h3>
      <div class="col-md-3">
        <div class="about-img"><%= image_tag("photo-craig-sweeney.jpg", alt: "Craig Sweeney") %></div>
        <h6>Craig Sweeney</h6>
        <p>Founder</p>
      </div>
      <div class="col-md-3">
        <div class="about-img"><%= image_tag("photo-tom-wondra.jpg", alt: "Tom Wondra") %></div>
        <h6>Tom Wondra</h6>
        <p>Founder</p>
      </div>
      <div class="col-md-3">
        <div class="about-img"><%= image_tag("photo-justin-seidl.jpg", alt: "Justin Seidl") %></div>
        <h6>Justin Seidl</h6>
        <p>Founder</p>
      </div>
      <div class="col-md-3">
        <div class="about-img"><%= image_tag("photo-robert-schwartz.jpg", alt: "Robert Schwartz") %></div>
        <h6>Robert Schwartz</h6>
        <p>Founder</p>
      </div>
    </div>
  </div>
</section>
