<% set_meta_tags :site => 'Milo • Make Change Happen',
  :canonical => 'http://milosavings.com',
  :author => 'Milo',
  :copyright => '&copy; 2016 Milo',
  :description => "Round up your everyday purchases and easily start saving for the important things - and people - in your life.",
  :keywords => ['Milo', 'Milo Savings', 'round', 'roundups', 'round-ups', 'savings', 'financial', 'savings account', 'goals', 'financial goal', 'college savings'],
  :reverse => true,
  :og => {
    :title          => 'Milo • Make Change Happen',
    :type           => 'website',
    :url            => request.original_url,
    :image          => asset_url('social-banner-milo.png'),
    :description    => "Round up your everyday purchases and easily start saving for the important things - and people - in your life.",
    :site_name      => 'Milo',
  },
  :twitter => {
    :card           => 'summary',
    :site           => '@milosavings',
    :title          => 'Milo • Make Change Happen',
    :description    => "Round up your everyday purchases and easily start saving for the important things - and people - in your life.",
    :creator        => '@milosavings',
    :image          => asset_url('social-banner-milo.png'),
  }
%>


<header class="head-market">
  <div class="milo-pattern">
    <div class="container-fluid">
      <%= render :partial => 'layouts/market_navbar' %>
      <section class="hero -home">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1>Make Change Happen</h1>
            <p>Round up your everyday purchases and easily start saving for the important things - and people - in your life.</p>
            <a href="#roundups" class="button -large -green">Learn More</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</header>

<section id="roundups" class="section-roundups">
  <%= image_tag("img-round-ups.svg", alt: "Milo Round Ups", class: "round-ups-image") %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2>What are round ups?</h2>
        <p>A round up is a calculated amount to round the value of a transaction to the next highest dollar. For example if you purchase a coffee for $3.45, Milo rounds up the transaction to $4.00 and deposits the extra $0.55 into a savings account. Round ups allow you to quickly start saving without the need to alter your budget!</p>
        <a href="/how-it-works" class="button -large -green">How It Works</a>
      </div>
    </div>
  </div>
</section>

<section class="section-goals">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2>Set Goals</h2>
        <div class="goal-icons">
          <%= image_tag("icon-goal-health.svg", alt: "Save for a Medical Emergency", id: "desktop_inline") %>
          <%= image_tag("icon-goal-vacation.svg", alt: "Save for a Vacation", id: "desktop_inline") %>
          <%= image_tag("icon-goal-house.svg", alt: "Save for a House") %>
          <%= image_tag("icon-goal-college.svg", alt: "Save for a College Education", class: "gi-large") %>
          <%= image_tag("icon-goal-car.svg", alt: "Save for a Car", class: "gi-car") %>
          <%= image_tag("icon-goal-wedding.svg", alt: "Save for a Wedding", id: "desktop_inline") %>
          <%= image_tag("icon-goal-business.svg", alt: "Save for a New Business", id: "desktop_inline") %>
        </div>
        <p>Save for a new car, that much-needed vacation or your child’s education!</p>
        <a href="/users/sign_up" class="button -large -green">Start Saving</a>
      </div>
    </div>
  </div>
</section>

<section class="section-progress">
  <%= image_tag("img-track-progress.svg", alt: "Milo Round Ups", class: "progress-image", id: "mobile") %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h2>Track Progress</h2>
        <p>Quickly and easily setup your Milo account and the financial goals you are striving to achieve.  </p>
        <p>Track your progress along the way and be notified of important steps to help you stay on pace to reaching your goals.</p>
        <a href="/users/sign_up" id="desktop_inline" class="button -large -green">Start Saving</a>
      </div>
    </div>
  </div>
  <%= image_tag("img-track-progress.svg", alt: "Milo Round Ups", class: "progress-image", id: "desktop") %>
</section>

<section class="section-security">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag("icon-security-fingerprint.svg", alt: "Milo Security") %>
      </div>
      <div class="col-md-8">
        <h2>High Security Standards</h2>
        <p>Milo’s number one priority is keeping your accounts and data associated with those acocunts secure. We protect data with 128-bit encryption and never store data on your devices.</p>
        <p>Milo savings accounts are insured by the Federal Deposit Insurance Corporation (FDIC) which insures account funds up to $250,000. Additional information is available at <a href="http://www.fdic.gov" target="_blank">www.fdic.gov</a>.</p>
        <a href="/security" class="button -large -green">Learn More</a>
      </div>
    </div>
  </div>
</section>
