<% set_meta_tags :site => 'Milo • Make Change Happen',
  :canonical => 'http://milosavings.com',
  :author => 'Milo',
  :copyright => '&copy; 2016 Milo',
  :description => "Round up your everyday purchases and easily start saving for the important things - and people - in your life.",
  :keywords => ['Milo', 'Milo Savings', 'round', 'roundups', 'round-ups', 'savings', 'financial', 'savings account', 'goals', 'financial goal', 'college savings'],
  :reverse => true,
  :og => {
    :title          => 'Milo • Make Change Happen',
    :type           => 'website',
    :url            => request.original_url,
    :image          => asset_url('social-banner-milo.png'),
    :description    => "Round up your everyday purchases and easily start saving for the important things - and people - in your life.",
    :site_name      => 'Milo',
  },
  :twitter => {
    :card           => 'summary',
    :site           => '@milosavings',
    :title          => 'Milo • Make Change Happen',
    :description    => "Round up your everyday purchases and easily start saving for the important things - and people - in your life.",
    :creator        => '@milosavings',
    :image          => asset_url('social-banner-milo.png'),
  }
%>


<header class="head-market">
  <div class="milo-pattern">
    <div class="container-fluid">
      <div class="hm-navbar">
        <a href="/" class="logo-market">Milo</a>
        <nav class="hm-nav hm-nav-left">
          <!-- <a href="#">About</a>
          <a href="#">Blog</a> -->
        </nav>
        <nav class="hm-nav hm-nav-right">
          <a href="/users/sign_up">Join</a>
          <a href="/users/sign_in">Log In</a>
        </nav>
      </div>
      <section class="hero -home">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1>Make Change Happen</h1>
            <p>Round up your everyday purchases and easily start saving for the important things - and people - in your life.</p>
            <a href="#roundups" class="button -large -green">Learn More</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</header>

<section id="roundups" class="section-roundups">
  <%= image_tag("img-round-ups.svg", alt: "Milo Round Ups", class: "round-ups-image") %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2>What are round ups?</h2>
        <p>A round up is a calculated amount to round the value of a transaction to the next highest dollar. For example if you purchase a coffee for $3.45, Milo rounds up the transaction to $4.00 and deposits the extra $0.55 into a savings account. Round ups allow you to quickly start saving without the need to alter your budget!</p>
        <a href="/users/sign_up" class="button -large -green">Start Saving</a>
      </div>
    </div>
  </div>
</section>

<section class="section-goals">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2>Set Goals</h2>
        <div class="goal-icons">
          <%= image_tag("icon-goal-health.svg", alt: "Save for a Medical Emergency", id: "desktop_inline") %>
          <%= image_tag("icon-goal-vacation.svg", alt: "Save for a Vacation", id: "desktop_inline") %>
          <%= image_tag("icon-goal-house.svg", alt: "Save for a House") %>
          <%= image_tag("icon-goal-college.svg", alt: "Save for a College Education", class: "gi-large") %>
          <%= image_tag("icon-goal-car.svg", alt: "Save for a Car", class: "gi-car") %>
          <%= image_tag("icon-goal-wedding.svg", alt: "Save for a Wedding", id: "desktop_inline") %>
          <%= image_tag("icon-goal-business.svg", alt: "Save for a New Business", id: "desktop_inline") %>
        </div>
        <p>Save for a new car, that much-needed vacation or your child’s education!</p>
        <a href="/users/sign_up" class="button -large -green">Start Saving</a>
      </div>
    </div>
  </div>
</section>

<section class="section-progress">
  <%= image_tag("img-track-progress.svg", alt: "Milo Round Ups", class: "progress-image", id: "mobile") %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h2>Track Progress</h2>
        <p>Quickly and easily setup your Milo account and the financial goals you are striving to achieve.  </p>
        <p>Track your progress along the way and be notified of important steps to help you stay on pace to reaching your goals.</p>
        <a href="/users/sign_up" id="desktop" class="button -large -green">Start Saving</a>
      </div>
    </div>
  </div>
  <%= image_tag("img-track-progress.svg", alt: "Milo Round Ups", class: "progress-image", id: "desktop") %>
</section>

<section class="section-manage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Manage</h2>
        <p>The Milo dashboard allows you to easily deposit, withdraw and manage your transaction history. Also use the Milo dashboard to set and track important financial goals for you and your family.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= image_tag("img-manage-dashboard.png", alt: "Milo Dashboard") %>
      </div>
    </div>
  </div>
</section>

<section class="section-get-started">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3>Get Started</h3>
        <p>The Milo dashboard allows you to easily deposit, withdraw and manage your transaction history. Also use the Milo dashboard to set and track important financial goals for you and your family.</p>
        <a href="/users/sign_up" class="button -large -green">Join the Waitlist</a>
      </div>
    </div>
  </div>
</section>
