<% set_meta_tags :site => 'Security • Milo',
  :canonical => 'http://milosavings.com/privacy',
  :author => 'Milo',
  :copyright => '&copy; 2016 Milo',
  :description => "Milo savings accounts are secured with 128-bit encryption, two-factor authentication and all funds are FDIC insured.",
  :keywords => ['Milo', 'Milo Savings', 'security', 'ssl', 'encryption', 'two-factor', 'authentication', 'savings'],
  :reverse => true,
  :og => {
    :title          => 'Security • Milo',
    :type           => 'website',
    :url            => request.original_url,
    :image          => asset_url('social-banner-milo.png'),
    :description    => "Milo savings accounts are secured with 128-bit encryption, two-factor authentication and all funds are FDIC insured.",
    :site_name      => 'Milo',
  },
  :twitter => {
    :card           => 'summary',
    :site           => '@milosavings',
    :title          => 'Security • Milo',
    :description    => "Milo savings accounts are secured with 128-bit encryption, two-factor authentication and all funds are FDIC insured.",
    :creator        => '@milosavings',
    :image          => asset_url('social-banner-milo.png'),
  }
%>


<header class="head-market -security">
  <div class="milo-pattern">
    <div class="container-fluid">
      <%= render :partial => 'layouts/market_navbar' %>
      <section class="hero -security">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <span>Security</span>
            <h1>Our Top Priority</h1>
            <p>Milo wants to help you make change happen in the safest manor possible. Milo is always developing cutting edge processes to prevent unauthorized account access and protect your data.</p>
          </div>
        </div>
        <div class="secure-highlights">
          <div class="row">
            <div class="col-md-4">
              <div class="secure-highlight">
                <h6>FDIC Insured Accounts</h6>
                <p>Milo savings accounts are insured by the FDIC up to $250,000.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="secure-highlight">
                <h6>SSL Encryption</h6>
                <p>Our website and apps are properly secured with 128-bit encryption.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="secure-highlight">
                <h6>Account Safety</h6>
                <p>Two-factor authentication confirms access to authorized users only.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</header>

<section class="feature">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="feature-circle -blue"><%= image_tag("icon-security-fdic.svg", alt: "Milo FDIC Insured") %></div>
      </div>
      <div class="col-md-6">
        <h2>FDIC Insured</h2>
        <p>Milo savings account funds are insured by the FDIC. In the unlikely event of a breach in security with our partner bank, the FDIC will reimburse an user account up to $250,000.</p>
        <p>  Additional information available at <a href="http://www.fdic.org" target="_blank">www.fdic.org</a>.</p>
      </div>
    </div>
  </div>
</section>

<section class="feature -purple">
  <div class="container-fluid">
    <div class="row">
      <div id="mobile" class="col-md-5">
        <div class="feature-circle -green"><%= image_tag("icon-security-ssl.svg", alt: "Milo SSL") %></div>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <h2>Browser Secured</h2>
        <p>The Milo website and apps are secured with SSL (secure sockets layer) 128-bit encryption. Encrypted endpoints are always used with our partner platforms, and sensitive bank credentials and data are never stored on Milo servers.</p>
      </div>
      <div id="desktop" class="col-md-5">
        <div class="feature-circle -green"><%= image_tag("icon-security-ssl.svg", alt: "Milo SSL") %></div>
      </div>
    </div>
  </div>
</section>

<section class="feature">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="feature-circle -red"><%= image_tag("icon-security-fingerprint.svg", alt: "Milo Security") %></div>
      </div>
      <div class="col-md-6">
        <h2>Verified Accounts</h2>
        <p>Mandatory two-factor authentication when creating and signing into your Milo savings account helps confirm your identity. Additional security provided by industry-standard partners and trusted financial institutions. Only after Milo confirms your identity will we transfer funds between accounts.</p>
      </div>
    </div>
  </div>
</section>

<section class="feature -center fine-print">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>The Fine Print</h2>
        <p>Milo takes your security very seriously. We will not sell your personal information and enforce strict terms of service to maintain a high-level of security.</p>
        <a href="/privacy" class="button -large -purple">Privacy Policy</a>
        <a href="/terms" class="button -large -purple">Terms of Service</a>
      </div>
    </div>
  </div>
</section>
