<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="signup">
      <h1><span>Log In</span> Make Change Happen</h1>
      <%= render "layouts/messages" %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "email-signup") do |f| %>
        <fieldset class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </fieldset>
        <fieldset class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </fieldset>
        <div class="spacer -space-16"></div>
        <button type="submit" class="button -full -blue">Log In</button>
      <% end %>
    </div>
    <div class="shared-links">
      <%= link_to "Forgot Password", new_password_path(resource_name), class: "shared-link -first" %>
      <%= link_to "Sign Up", new_registration_path(resource_name), class: "shared-link -last" %>
    </div>
  </div>
</div>
