<div class="row">
  <div class="col-md-5 col-md-offset-2">
    <div class="signup">
      <h1><span>Log In</span> Make Change Happen</h1>
      <%= render "../views/layouts/messages" %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "email-signup") do |f| %>
        <fieldset class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </fieldset>
        <fieldset class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </fieldset>
        <% if devise_mapping.rememberable? -%>
          <fieldset class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </fieldset>
        <% end -%>
        <button type="submit" class="button -full -green">Log In</button>
      <% end %>
    </div>
  </div>
</div>
