<div class="subheader">
  <div class="container-fluid">

    <% if subheader_is? :savings %>
      <nav class="nav subheader-nav">
        <a href="/" class="<%= active_page_class?('/')%>"><i class="fa fa-home"></i>Overview</a>
        <a href="/roundups" class="<%= active_page_class?('/roundups')%>"><i class="fa fa-circle-o"></i>Round Ups</a>
        <a href="#"><i class="fa fa-exchange"></i>Transfer</a>
        <a href="/history" class="<%= active_page_class?('/history')%>"><i class="fa fa-clock-o"></i>History</a>
      </nav>
      <div class="subheader-savings-total">$1,000.88</div>
    <% end %>

    <% if subheader_is? :zero %>
      <nav class="nav subheader-nav">
        <a href="/zero" class="<%= active_page_class?('/zero')%>"><i class="fa fa-home"></i>Overview</a>
        <a href="/zero/progress" class="<%= active_page_class?('/zero/progress')%>"><i class="fa fa-home"></i>Progress</a>
        <a href="/zero/payments" class="<%= active_page_class?('/zero/payments')%>"><i class="fa fa-home"></i>Payments</a>
        <a href="/debts" class="<%= active_page_class?('/debts')%>"><i class="fa fa-home"></i>Accounts</a>
        <a class="nav-link" href="#"><i class="fa fa-home"></i>Credit Score</a>
      </nav>
      <div class="subheader-debt-total">-$9,999.99</div>
    <% end %>

  </div>
</div>
