<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= display_meta_tags %>

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    $(function() {
      // Sidebar Equal Height to Page Content
      $(".sidebar").css("height", $(".page-content").height() + 80);
      // Tooltip
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>

</head>
<body class="milo-app">

  <header>
    <a class="logo" href="/">Milo</a>
    <div class="milo-user">
      <div class="mu-img">
        <% if current_user.avatar? %>
          <%= image_tag current_user.avatar.url(:medium) %>
        <% else %>
          <%= link_to settings_path, class: "add-avatar" do %>
            <%= image_tag("img-add-avatar.png", alt: "Add avatar") %>
          <% end %>
        <% end %>
      </div>
      <h5><%= current_user.business.name ? current_user.business.name : current_user.name %></h5>
      <span><%= current_user.city if current_user.city %><% if current_user.city? && current_user.state? %>, <% end %><%= current_user.state if current_user.state %></span>
    </div>
    <nav>
      <a href="/" class="<%= active_page_class?('/')%>"><i class="fa fa-home"></i> Overview</a>
      <% if current_user.business %>
        <a href="#" class="<%= active_page_class?('/employees')%>"><i class="fa fa-user"></i> Employees</a>
      <% else %>
        <a href="/roundups" class="<%= active_page_class?('/roundups')%>"><i class="fa fa-circle-o"></i> Round Ups <!--<span>8</span>--></a>
      <% end %>
      <!--<a href="#"><i class="fa fa-exchange"></i> Transfer</a>-->
      <a href="/history" class="<%= active_page_class?('/history')%>"><i class="fa fa-clock-o"></i> History</a>
      <a href="/settings" class="<%= active_control_class?('registrations') %>"><i class="fa fa-gear"></i> Settings</a>
      <% if current_user.admin %>
        <a href="/admin">Admin</a>
      <% end %>
    </nav>
    <%= link_to('Log Out', destroy_user_session_path, :method => :delete, class: "sign-out") %>
  </header>

  <%= yield %>

  <%= content_for :modal %>

  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-578d8d001a062943"></script>

  <%= render :partial => 'layouts/analytics' %>

</body>
</html>
