<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= display_meta_tags %>

  <meta name="bankrate-site-verification" content="24e020f38031d64fb4b8" />

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    $(function() {
      // Sidebar Equal Height to Page Content
      $(".sidebar").css("height", $(".page-content").height() + 80);
      // Tooltip
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>

</head>
<body class="milo-app">

  <header>
    <div class="container-fluid">
      <a class="logo" href="/">Shift</a>
      <nav class="nav primary-nav">
        <a class="nav-link" href="/">Savings</a>
        <a class="nav-link" href="/zero">Zero</a>
        <a class="nav-link" href="#">Works</a>
      </nav>
      <nav class="nav account-nav">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <div class="user-avatar"><%= image_tag current_user.avatar.url(:medium) %></div>
            <div class="user-name"><%= current_user.name %></div>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/settings">Settings</a>
            <% if current_user.admin %>
              <a class="dropdown-item" href="/admin">Admin</a>
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to('Log Out', destroy_user_session_path, :method => :delete, class: "dropdown-item") %>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <%= render :partial => 'layouts/subheader' %>

  <%= yield %>

  <%= content_for :modal %>
  <%= content_for :javascripts %>

  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-578d8d001a062943"></script>

  <%= content_for :javascript %>

  <%= render :partial => 'layouts/analytics' %>

</body>
</html>
